*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  color: #5a5648;
  background-color:rgb(226, 226, 233);
}
nav{
  display: flex;
  margin-top: 2%;
}
.logo{
  width: 30%;
  margin-left: 10%;
  font-size: 33px;
}
.nav-list{
  display: flex;
  margin-left: 7%;
}
.na-items{
  list-style: none;
  margin-left: 20%;
font-size: 24px;
}
.na-items a{
text-decoration: none;
color:white;
transition: color .4s;
}
.na-items a:hover{
  color: #000;
}

.top{
  position: absolute;
  left: 100px;
}

.main-text{
  font:36px;
  margin-left:50% ;
  margin-top: 15%;
  letter-spacing: 4px;
  position: absolute;
  top:-200px;
  left:-650px;
  color:white;
  font-size:xx-large;
}
.body-text{
  font-size: 25px;
  width: 50%;
  margin-left: 40%;
  margin-top: 2%;
  position: absolute;
  top: 200px;
  left:-250px;
  color: white;
  white-space: "nowrap";
}
.mail{
  background-color:white;
  outline: none;
  border: 4px solid white;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-left: 80%;
  margin-top: 4%;
  transition: 0.5s;
  position:absolute;
  top:250px;
  left:-600px;
}
.mail:hover{
  background-color: #706c5f;
  color: #fff;
}
.bottom{
  position:absolute;
  top:600px;
  left:100px;
}

.function{
  position:absolute;
  top: 700px;
  left:600px;
}
img#f1{
  width: 80px;
  height: 80px;
  position:absolute;
  top: 0px;
  left:-250px;
}
h6#f11{
  position:absolute;
  top: 100px;
  left:-350px;
  color:#38d39f;
  font-size: 16px;
  font-weight: 5px;
  letter-spacing: 2px;
  width:400px;
}
img#f2{
  width: 80px;
  height: 80px;
  position:absolute;
  top: 0px;
  left:140px;
}
h6#f21{
  position:absolute;
  top: 100px;
  left:75px;
  color:#38d39f;
  font-size: 16px;
  font-weight: 5px;
  letter-spacing: 2px;
  width:300px;
}
img#f3{
  width: 80px;
  height: 80px;
  position:absolute;
  top: 0px;
  left:500px;
}
h6#f31{
  position:absolute;
  top: 100px;
  left:430px;
  color:#38d39f;
  font-size: 16px;
  font-weight: 5px;
  letter-spacing: 2px;
  width:300px;
}