<!doctype html>
<html lang="en">
  <head>
  	<title>关于我们</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/about_us/css/style.css">


  	<script src="../static/about_us/js/popper.js"></script>
  	<script src="../static/bootstrap.min.js"></script>
  	<script src="../static/about_us/js/main.js"></script>
	<script src="../static/jquery-3.4.1.min.js"></script>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" id="back">关于我们</a></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper img" style="background-image: url(static/about_us/images/img.jpg);">
						<div class="row">
							<div class="col-md-9 col-lg-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">About us</h3>
									<div id="form-message-warning" class="mb-4"></div>

									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="name">开发团队名称</label>
													<p>CNNT</p>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="company">单位</label>
													<p><a href="https://cos.bjfu.edu.cn/">北京林业大学理学院</a></p>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="team">团队成员</label>
													<p>何洵洋、黄璐嘉、唐诚、闫凌霄、虞翔云、张铭芮</p>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="photo">联系方式</label>
													<p>13552113968</p>
												</div>
											</div>
												<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="email">邮箱</label>
													<p>3599153691@qq.com</p>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	</body>
</html>

