<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/password/style.css">
    <link rel="stylesheet" href="../static/password/iconfont/iconfont.css">
    <script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
    
<style>
    h2{
        position: absolute;
        top: 140px;
        right: 2;
    }
</style>
<style>
    h1{
        font-size:larger;
        color: black;

        position: absolute;
        top: 50px;
    }
</style>


<script>
        //加载文档对象
         window.onload=function () {
             var signIn= document.getElementById("signIn")
             var fpassword= document.getElementById("fpassword")
             signIn.onclick=function () {

                 window.location.href='/sign_in';
             }
             fpassword.onclick=function () {

                // alert("密码修改成功！");
             }
         }

    </script>

    <title>找回密码</title>
    
</head>

<body>
<html>
    <div class="container" id="container">
       
        <div class="form-container sing-in-container">
            <!-- 找回密码 -->
            <form action="/password_find" method="post">
                <h1>找回密码</h1>
                <input type="text" name="username" placeholder="用户名">
                <input type="email" name="email" id="emailAddress2"placeholder="邮箱">
                <input type="text" name="security_code" placeholder="验证码">
                <button type="button" id="send_code2">发送验证码</button>
                <input type="password" name="password1" placeholder="新密码">
                <input type="password" name="password2" placeholder="确认密码">
                <button type="submit" id="fpassword">确认</button>
            </form>

            {% if status == "error" %}
                <script>
                    alert("用户名或邮箱错误")
                </script>
            {% elif status == "ok" %}
                <script>
                    alert("密码修改成功")
                </script>
            {% elif status == "error1" %}
                <script>
                    alert("验证码错误")
                </script>
            {% elif status == "error2" %}
                <script>
                    alert("输入密码不一致")
                </script>
            {% elif status == "failed" %}
                <script>
                    alert("Fail！ 修改失败！")
                </script>
            {% endif %}
        </div>

        <style>
            h2{
                color:darkgreen;
                font-size:xx-large;
                font-family:'楷体', Times, serif;
                font-weight: bolder;
            }
        </style>
        <!-- 侧边栏内容 -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-pannel overlay-right">
                    <div class="img">
                        <img src="../static/password/img/logo.png" alt="logo"  width="156.4" height="105">
                    </div>
                    <h2>counter树冠识别系统</h2>
                    <p>快去登录吧</p><br>
                    <p1>密码已找回</p1>
                        <button  class="ghost" id="signIn">返回登录</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/password/password.js"></script>
</body>
</html>