      * {
          padding: 0;
          text-decoration: none;
          margin: 0px 0px;
          /* 到边框的距离 */
      }
      
      body {
          background: #ecf0f0ef;
      }
      
      .menu a:hover {
          color: rgb(14, 194, 218);
      }
      
      .menu {
          width: 100%;
          height: 80px;
          text-align: center;
          position: fixed;
          top: 0px;
          left: 0px;
          margin: 0 auto;
          z-index: 999;
          opacity: 1;
          background-color: white;
      }
      
      .left {
          height: 80px;
          float: left;
          margin-left: 50px;
      }
      
      .left ul li {
          padding: 0px 20px;
          float: left;
          list-style: none;
      }
      
      .left ul li a {
          text-decoration: none;
          color: rgb(35, 37, 39);
          font-size: 25px;
          line-height: 80px;
          width: 140px;
      }
      
      .right {
          height: 80px;
          float: right;
          margin: 80px;
          display: flex;
          margin-top: 25px;
      }
      
      .right ul li {
          padding: 0px 15px;
          float: right;
          list-style: none;
      }
      
      .right a {
          text-decoration: none;
          color: rgb(35, 37, 39);
          font-size: 20px;
          width: 80px;
      }
      
      .right input {
          float: left;
          flex: 4;
          height: 30px;
          outline: none;
          border: 1px solid rgb(40, 40, 40);
          box-sizing: border-box;
          padding-left: 10px;
      }
      
      .right button {
          float: right;
          flex: 1;
          height: 30px;
          width: 35px;
          background-color: #282828;
          color: white;
          border-style: none;
          outline: none;
          cursor: pointer;
      }
      
      .right button i {
          font-style: normal;
      }
      
      .right button:hover {
          background-color: rgb(152, 231, 255);
      }
      
      .copyright {
          width: 100%;
          background: #232323;
          text-align: center;
          bottom: 0;
          height: 50px;
          padding-top: 15px;
      }
      
      .copyright p {
          color: #AFAFAF;
          font-size: 0.9em;
      }
      
      .copyright p a:hover {
          text-decoration: underline;
      }
      
      .fun {
          width: 90%;
          margin-top: 100px;
          text-align: center;
          height: 750px;
      }
      
      .fun a {
          color: #000;
      }
      
      .fun td {
          height: 60px;
      }