      * {
          padding: 0;
          text-decoration: none;
          margin: 0px 0px;
          /* 到边框的距离 */
      }
       body {
          background: #ecf0f0ef;
      }

@media only screen and (max-width:100px) {
    .shuoming {
        position: absolute;
        top: 200px;
        left: 370px;
    }

    h1.chuan1 {
        position: absolute;
        top: 100px;
        left: 350px;
    }
     input#upload {
        position: absolute;
        top: 15px;
        left: -50px;
    }
      .copyright {
        position: absolute;
        top: 1500px;
    }
      .dianji {
        position: absolute;
        top: 200px;
        left: 420px;
    }
       .tuo {
        position: absolute;
        top: 250px;
    }
img {
        width: 370px;
        position: absolute;
        top: 320px;
        left: 370px;

    }
       #area{position:absolute; top: 50px;left:250px;}
      #prev{ position: absolute; top:470px;left:410px; }
      #prev{
        position: relative;
        top:-755px;
        left:-270px;
      }
       .beijing {
        position: absolute;
        top: 265px;
        left: 370px;
    }
}



    .shuoming {
        text-align: left;
        width: 1000px;
        font-size: 17px;
        font-family: "楷体";
        position: relative;
        top:-400px;
        left:-370px;
    }

    h1.chuan1 {
        float: left;
        width: 416px;
        height: 28px;
        color: darkgreen;
        font-size: 20px;
        letter-spacing: 5px;
        position: relative;
        top:-450px;
        left:50px;
    }
 input#upload {
        position:relative;
        top: -300px;
        left: 50px;
    }

    h2.chuan2 {
        width: 416px;
        height: 28px;
        color: darkgreen;
        font-size: 19px;
        letter-spacing: 5px;
    }


    .dianji {
        text-align: center;
    }

    img {
        width: 370px;
        position: absolute;
        top: 320px;
        left: 370px;

    }

 #area{width:40%;height: 150px; line-height: 150px; text-align: center; border: 1px solid #DDDDDD;}
      #prev{width:500px;min-height: 150px;
      position: relative;
      top:-1275px;
      left:-270px;}

    .beijing {
        width: 650px;
        height: 420px;
        background-color: aliceblue;
        border: 2px solid dimgray;
        position: relative;
        top:175px;
        left:50px;
    }


    .baogao {
        position: absolute;
        top: 300px;
        left: 200px;
    }

    h2.chuan2 {
        position: absolute;
        top: -200px;
        left: 150px;
        width: 600px;
        float: left;
        font-size: 19px;
    }

    .shuoming1 {
        position: absolute;
        top: -150px;
        left: 150px;
        text-align: left;
        width: 800px;
        font-size: 17px;
        font-family: "楷体";
    }

    div#area{
        position: relative;
        top:-300px;
        left:100px;
    }

 .tijiao{
              background-color: #4caf50;
              border:none;
              color: #fff;
              padding: 15px;
              text-align: center;
              font-size: 18px;
              border-radius: 8px;
              width:150px;
              height:50px;
     position:absolute;
              top:750px;
              left:820px;
    }

    .container {
        position: absolute;
        top: -110px;
        left: 135px;
    }

    #biaotou {
        background-color: rgb(8, 143, 62);
        width: 900px;
        height: 70px;
        font-size: 30px;
        color: #DDDDDD;
        font-weight: bold;
        font-family: "楷体";
    }

    #biao1 {
        background-color: rgb(223, 249, 226);
    }

    #biao2 {
        background-color: rgb(223, 249, 226);
    }

    #biao3 {
        background-color: rgb(223, 249, 226);
    }

    #biao4 {
        background-color: rgb(223, 249, 226);
    }

    #biao5 {
        background-color: white;
    }

    #biao6 {
        background-color: white;
    }

    #biao7 {
        background-color: white;
    }

    #biao8 {
        background-color: white;
    }

    #biao11 {
        background-color: white;
    }

    table {
        border-collapse: collapse;
        border-color: #f9f9f9;
        border-width: 1px;
    }

    h4 {
        position: absolute;
        top: 700px;
        left: 300px;
        width: 600px;
        float: left;
    }

    h1.logo {
        color: darkgreen;
        font-size: 30px;
        margin-top: 7px;
    }


    .copyright {
        width: 100%;
        background: #232323;
        text-align: center;
        bottom: 0;
        height: 100px;
        padding-top: 15px;
    }

    .copyright p {
        color: #AFAFAF;
        font-size: 0.9em;
    }

    .copyright p a:hover {
        text-decoration: underline;
    }

    .fun {
        width: 90%;
        margin-top: 100px;
        text-align: center;
        height: 750px;
    }

    .fun a {
        color: #000;
    }

    .fun td {
        height: 60px;
    }

    a#tijiao {
        color: white;
    }

