* {
    padding: 0;
    text-decoration: none;
    margin: 0px 0px;
    /* 到边框的距离 */
}

.main_content {
    margin: auto;
}

 
#introduction1 {
    color: darkgreen;
    font-size: 25px;
    letter-spacing:5px;
}

#introduction2 {
        text-align: left;
        font-size: 20px;
        font-family: "楷体";
      }

table#report {
    border-collapse:collapse;
    border-color: #f9f9f9;
    border-width: 1px;
    width: 730px;
}


@media (max-width:528px){
    .main_content {
        margin: auto;
        width: 100%;
        width: 480px;
    }

    table#report {
        border-collapse:collapse;
        border-color: #f9f9f9;
        border-width: 1px;
        width: 480px;
        margin-left: 0px;
    }


}

#table_first {
    border-color: #f9f9f9;
    text-align: center;
    height: 65px;
}

#table_title {    
    background-color: rgb(8, 143, 62);
    font-size: 30px;
    color: #DDDDDD;
    font-weight: bold;
    font-family: "楷体";
}

.even {
    background-color: rgb(255, 255, 255);
}

.odd {
    background-color: rgb(223, 249, 226);
}

#download_report {
    background-color: #4caf50;
    border:none;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    width:150px;
    float: right;
}
