<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter树冠识别系统</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" href="../static/reports/css/count.css" type="text/css">
    <link rel="stylesheet" href="../static/reports/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/reports/css/personal.css">
    <link rel="stylesheet" href="../static/reports/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <style type="text/css">

    </style>

  <script>
        //加载文档对象
        window.onload=function () {
             var a_personal =document.getElementById("a_personal")
             var a_report =document.getElementById("a_report")
             a_personal.onclick=function () {
                 window.location.href='/personal';
             }
             a_report.onclick=function () {
                 window.location.href='/report';
             }
        }
  </script>


<!-- 表头 -->
<title>数据分析</title>

</head>




<body>
        <!--侧边导航栏-->  
        <div class="sidebar">
            <div class="bg_shadow"></div>
            <div class="sidebar_inner">
                <div class="close">
                    <i class="fas fa-times"></i>
                </div>
                <div class="profile_info">
                    <div class="profile_data">
                        <p class="name">CNNT</p>
                    </div>
                </div>

                <ul class="siderbar_menu">
                    <li class="active">
                        <a href="#">
                            <div class="title">数据分析</div>
                        </a>
                    </li>
                    <li>
                        <a href="/personal"id="a_personal">
                            <div class="title">个人中心</div>
                        </a>
                    </li>
                </ul>
                <div class="logout_btn">
                    <a href="/sign_in">退出登录</a>
                </div>
            </div>
        </div>


        <div class="main_container">
            <div class="navbar">

                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                <h3 id="headline">counter树冠识别系统</h3>
                <!-- 搜索框 -->
            <div class="search">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-default" id="definite" >确认</button>
                  </form>
            </div>

            </div>

            <div class="content">               
             <!-- 主要部分可写在这里 -->
            <div class="main">
                <div class="beijing"></div>
                   <div class="dianji">
                          <input type="file" id="upload" multiple style="font-size:medium; " />
                    <div class="tupian">

     <script>
              // 文件规则
              const ACCEPT = ['image/jpg', 'image/png', 'image/jpeg'];
              const MAXSIZE = 6 * 1024 * 1024;
              const MAXSIZE_STR = '1MB';

              const upload = document.querySelector('#upload');
              // 监听文件上传事件并传值
              upload.addEventListener('change', (e) => {
                console.log(e.target.files);
                const [file] = e.target.files;
                if (!file) {
                  return;
                }
                const { type: fileType, size: fileSize } = file;
                // 图片类型检查
                if (!ACCEPT.includes(fileType)) {
                  alert(`暂时不支持${fileType}文件类型`);
                  upload.value = '';
                  return;
                }
                // 图片大小检查
                if (fileSize > MAXSIZE) {
                  alert(`该文件超出${MAXSIZE_STR}`);
                  upload.value = '';
                  return flase;
                }
                converImageToBase64(file, (base64Image) =>
                  compress(base64Image, uploadToServer)
                );
              });

              // 原图转为base64
              function converImageToBase64(file, callback) {
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.addEventListener('load', function (e) {
                  const base64Image = e.target.result;
                  // console.log('原图base64', base64Image);
                  // 将nase64文件传入压缩方法中
                  callback && callback(base64Image);
                });
              }
              // 图片压缩主要代码
              function compress(base64Image, callback) {
                let maxW = 600;
                let maxH = 600;
                const image = new Image();
                image.src = base64Image;
                // document.body.appendChild(image);

                // 监听图片加载事件
                image.addEventListener('load', function (e) {
                  let ratio; // 图片压缩比
                  let needCompress = false; // 图片是否需要压缩
                  if (maxW < image.naturalWidth) {
                    needCompress = true;
                    ratio = image.naturalWidth / maxW;
                    maxH = image.naturalHeight / ratio;
                  }
                  if (!needCompress) {
                    ratio = image.naturalHeight / maxH;
                    maxW = image.naturalHeight / ratio;
                  }
                  const canvas = document.createElement('canvas');
                  canvas.setAttribute('id', '__compress__');
                  canvas.width = maxW;
                  canvas.height = maxH;
                  canvas.style.visibility = 'hidden';
                  document.body.appendChild(canvas);

                  const ctx = canvas.getContext('2d');
                  ctx.clearRect(0, 0, maxW, maxH);
                  ctx.drawImage(image, 0, 0, maxW, maxH);
                  const compressImage = canvas.toDataURL('image/jpeg', 0.8); // 值越大压缩后的图片越小，但是太小图片会失真
                  callback && callback(compressImage);
                  // 显示压缩后的图片
                  const _image = new Image();
                  _image.src = compressImage;
                  document.body.appendChild(_image); // 预览压缩后的图片
                  canvas.remove();
                  // console.log('压缩比', image.src.length / _image.src.length);
                });
              }
              // 压缩后的base64上传到服务器
              function uploadToServer(compressImage) {
                   window.location.returnVaule=false;
                console.log('uploadToServer......', compressImage);
                if (compressImage) {
                  alert('图片上传成功');
                }
              }
        </script>

            </div>
        </div>

     <div class="tishi">
        <h1 class="chuan1">请在下方区域上传图片</h1>
        <div class="shuoming">您可以选择点击按钮或者拖拽上传两种方式，我们会识别您上传的图像，并显示数据报告</div>
        <div class="tuo">
        <div id="area">将图片拖放到该区域</div>
        <canvas id="myCanvas" width=600px: height=500px; ></canvas>
            <div id="prev"></div>


      <script>
        window.onload = function(){
            var oArea = document.getElementById("area");
            var oPrev = document.getElementById("prev");

            oArea.ondragenter = function(){
                oArea.innerHTML = "请释放鼠标";
            }
            oArea.ondragleave = function(){
                oArea.innerHTML = "将图片拖放到该区域";
            }
            oArea.ondragover = function(ev){
                ev.preventDefault();
            }
            oArea.ondrop = function(ev){
                ev.preventDefault();
                var files = ev.dataTransfer.files;
                for(var i = 0 , len = files.length;i<len;i++){
                    var file = files[i];
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    (function(reader){
                        reader.onload = function(){
                            var oImg = document.createElement("img");
                            oImg.src = this.result;
                            oPrev.appendChild(oImg);
                        }
                    })(reader);
                }
            }
        }
      </script>

    </div>
    </div>
    </div>
                 <div class="tijiao" id="a_report">
                    <a href="/report" id="tijiao">提交照片</a>
                </div>
    <script src="../static/reports/js/index.js"></script>
            </div>
    </div>


</body>

</html>